.body {
    font-family: Roboto, Raleway sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* header */
.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.logo-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5
}

.header-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5
    letter-spacing: 0.02em;
    color: #2E2F42
}

.header-link:is(:hover, :focus){
    color: #404BBF;
}

.address {
    font-style: normal;
}

.header-mail {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5
    letter-spacing: 0.02em;
    color: #434455
}

.header-mail:is(:hover, :focus){
    color: #404BBF;
}

.header-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5
    letter-spacing: 0.02em;
    color: #434455
}

.header-tel:is(:hover, :focus){
    color: #404BBF;
}

/* hero */

.hero {
    background: #2E2F42
}

.hero-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF
}

.hero-btn {
    background: #4D5AE5;
}

.hero-btn:is(:hover, :focus){
    color: #404BBF;
}

/* features */
.features-slogan {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.features-desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5
    letter-spacing: 0.02em;
    color: #434455;
}

/* what are we doing */

.developmont {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42
}

/* our team */

.team-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.profession {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}

/* footer */

.footer {
    background: #2E2F42;
}

.footer-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}